@import '../../../static/style/w3.scss';

.sv-sbml-container {
  @extend .w3-container;
}

.sv-sbml-header {
}

.sv-note-content, .sv-annotation-content {
  @extend .w3-container;
  @extend .w3-pale-blue;
  max-width: 80%;
  min-width: 300px
}

.sv-id-target {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.sv-id {
  color: blue;
}

.sv-id-lost {
  color: red;
}

.sv-tooltip {
  @extend .w3-tooltip;
}
.sv-tooltip-text {
  @extend .w3-text;
  @extend .w3-pale-blue;
  position:absolute;
  left:50%;
  bottom:95%;
  border-radius:6px;
  padding:8px;
  width:300px;
}

.sv-listof-table {
  @extend .w3-table;
  @extend .w3-striped;
  @extend .w3-border;
  @extend .w3-hoverable;
  @extend .w3-card-4;
  width: auto;
  max-width:95%;
}

.sv-listof-table-header {
  @extend .w3-blue-grey;
}

.table {
  @extend .w3-table;
  @extend .w3-striped;
  @extend .w3-border;
}
