<div class="w3-top w3-card-4 w3-blue-grey">
    <div id="optionsArea">
      <div class="w3-cell w3-padding w3-border-right w3-border-color-white">
        <input id="file" class="file" type="file" accept=".xml,.sbml"/><span id="fileName" class="w3-padding-bottom">No file choosen</span>
        <p class="w3-dispay-bottomleft"><span class="w3-small w3-text-white"><a href="http://sv.insysbio.ru">SbmlViewer</a> by <a href="http://insysbio.ru/en">InSysBio</a></span></p>
      </div>

      <div class="w3-cell w3-border-right w3-border-color-white w3-padding-left w3-padding-right">
        <h4>Transformation type:</h4>
        <select id="transformationType">
          <option v-for="way in waysDisplayPage">{{ way }}</option>
        </select>
      </div>

      <div id="listOptionsCheckbox" class="w3-cell w3-padding">
        <h4>Options display:</h4>
        <div v-for="(optionData, optionName) in optionsDisplay" class="w3-cell w3-padding-right w3-tooltip">
          <p>
            <input :id="optionName" type="checkbox"/>
            <label :for='optionName'>{{ optionData['title'] }}</label>
          </p>
          <p class="w3-text w3-tag w3-tiny w3-animate-opacity noteOptions">
            {{optionData['notes']}}
          </p>
        </div>
      </div>

      <div class="w3-container w3-cell w3-cell-bottom w3-padding">
        <div id="refresh" class="w3-btn w3-blue-grey w3-circle w3-ripple w3-display-right"><i id="spinner" class="w3-spin fa fa-spinner w3-xxlarge"></i></div>
      </div>
    </div>
  </div>
