.sv-cell {
  display: table-cell;
}

.sv-display-right {
  position: fixed;
  right: 5px;
  top: 5px;
}

.file {
  color:transparent;
  width:140px;
}
.noteOptions {
  position: absolute;
  margin-top: 0;
}

@media print {
  #tool-bar {
    position: absolute;
  }
}
