/*-- Side --*/
#sidebarContent {
  position: fixed;
  overflow: auto;
  width: 24%;
  padding-bottom: 15px;
  background-color: white;
}
.close-sidebar-btn {
  position: fixed;
  right: 16px;
  top: 50%;
  width: 24%;
  z-index: 2;
  cursor: pointer;
}
.close-sidebar-btn img {
  transform: translate(-34%, 0);
}
@media print {
  #sidebarContent {
    position: absolute;
  }
}
