html {
  overflow: hidden;
}

/*--- Options area ---*/
.file {
  color:transparent;
  width:140px;
}

/*-- Content --*/
.content {
  margin-top: 80px;
}
  /*-- Error message --*/
  #errorContainer {
    display: none;
  }
  /*-- Main --*/
  #mainContent {
    overflow: auto;
    padding-bottom: 30px;
  }
  /*-- Side --*/
  #sideInformBlock {
    display: none;
    overflow: auto;
  }
  #sideContent {
    overflow: auto;
  }
  .closeSideBarBtn {
  position: fixed;
  top: 50%;
  right: 23.5%;
  }