html {
  overflow: hidden;
}
#filearea{
  border: 3px dashed white;
  min-width: 250px;
}
hr{
  margin: 0;
}
#mainContent {
  overflow: auto;
  padding-bottom: 15px;
}
.closeSideBarBtn {
  position: fixed;
  top: 50%;
  right: 15.8%;
}
.content {
  margin-top: 80px;
}
#sideInformBlock {
  display: none;
  overflow: auto;
}
#sideContent {
  overflow: auto;
}
.optionsArea {
  height: 88px;
}