---
---

@charset "utf-8";
@import "rouge-github";

body {
  font-family: "Times New Roman";
}
pre{
  overflow: auto;
} 
 
img{
  max-width:100%;
}

a, a:hover{
  color:#1637F1;
}

h1{
  color:#1C7168;
}