<div id="content">
  <div id="errorContainer" class="w3-row">
    <div id="errorMess" class="w3-panel w3-col l12 m12 s12 w3-text-red w3-center w3-large w3-padding"></div>
  </div>
  <div class="w3-row">
    <div id="mainContent" class="w3-container w3-col w3-border-right w3-border-color-blue-grey"  v-html='displayContent' v-bind:class="{ 'main-container-part': isSideOpen }">
    </div>
    <AnnotationSide class="w3-col" v-show='isSideOpen' v-bind:class="{ 'side-container-open': isSideOpen }"></AnnotationSide>
    </div>
</div>
