/*-- Content --*/
#content {
  margin-top: 105px;
}
  /*-- Error message --*/
  #errorContainer {
    display: none;
  }
  /*-- Main --*/
  #mainContent {
    overflow: auto;
    padding-bottom: 30px;
  }
