---
---

@charset "utf-8";
@import "rouge-github";
pre{
  overflow: auto;
}

img{
  max-width: 100%;
}
h1{
  color: #1C7168;
}
ul.share-buttons li {
  width: 50px;
  height: 50px;
}
.share-buttons li {
  display: inline-block;
}
.w3-content {
  max-width: 850px;
}

.header, .footer {
  background: #802090;
}

#mainContent {
  background-color: #e9edec;
}

#tryDemo {
  background: #6C953C;
}
