<!DOCTYPE HTML>
<html>
<head> <!-- Need in other block??? -->
<title>{{ site.title | default: site.github.repository_name }}</title>
{% seo %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" src="http://sbmlviewer.insilicobio.ru/assets/js/yandexMetrika.js"></script>
</head>

<body>
<noscript><div><img src="https://mc.yandex.ru/watch/44335438" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{% include header.html %}
<div style="display:none;">
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-share-button" data-href="http://sbmlviewer.insilicobio.ru/" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsbmlviewer.insilicobio.ru%2F&amp;src=sdkpreparse">Share</a></div>

<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="g-plus" data-action="share" data-annotation="bubble"></div><script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="w3-container w3-content">
{{ content }}
</div>

{% include footer.html %}
</body>

</html>
